<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TurtleIFS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TurtleIFS.Properties.Settings>
            <setting name="JiraServer" serializeAs="String">
                <value>http://jira</value>
            </setting>
            <setting name="JiraUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="JiraPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="JiraID" serializeAs="String">
                <value />
            </setting>
            <setting name="LcsBugId" serializeAs="String">
                <value />
            </setting>
            <setting name="LcsMultiDev" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupportPerson" serializeAs="String">
                <value>peumali.sudasinghe@ifsworld.com</value>
            </setting>
            <setting name="HeaderMessage" serializeAs="String">
                <value>Houston, we have a problem!</value>
            </setting>
        </TurtleIFS.Properties.Settings>
    </userSettings>
</configuration>